<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.katib.download</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/codyaustin/Katib/katib_daily_download.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>9</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>Wake</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/codyaustin/Documents/Katib/logs/launchd_download.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/codyaustin/Documents/Katib/logs/launchd_download_error.log</string>
    <key>RunAtLoad</key>
    <false/>
    <key>KeepAlive</key>
    <false/>
    <key>Nice</key>
    <integer>1</integer>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/Frameworks/Python.framework/Versions/3.11/bin</string>
        <key>HOME</key>
        <string>/Users/codyaustin</string>
    </dict>
</dict>
</plist>
